* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, /*div,*/ dl, dt, em, embed, fieldset, figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd,
label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


html, body {
    height: 100%;
}

.media-object.a {
    border-bottom-width: 0;
}


.title{
    color:white;
}

.mo-info {
    margin: 12px 0 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
}

.mo-info-album {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: 500;
    color: #fff;
    text-transform: none;
}

.mo-info-artist {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    color: #fff;
    opacity: .6;
    text-transform: none;
    cursor: default;
}

.mo-info-artistlist {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: 500;
    color: #fff;
    text-transform: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.article, .footer, .header, nav, section {
    display: block;
}


a:focus, a:hover {
    text-decoration: none;
    border-bottom-color: currentcolor
}


.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    content: " ";
    display: table
}

.clearfix:after, .container-fluid:after, .container:after, .row:after {
    clear: both
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.logo {
    color: #257fed;
}

    .logo:hover {
        color: #fff;
    }


Set padding to keep content from hitting the edges
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.gradient-text {
    animation: flow 30s ease-in-out infinite;
    background: linear-gradient(-60deg, #257fed, #5f2c82, #fff, #0052D4);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


/****** Header ******/



/****** Nav-Menu ******/
.navbar-brand {
    /*margin-right: auto;*/
    margin-bottom: 20px;
}

.root-navbar {
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #000e21;
    overflow-y: auto;
    min-height: 0 !important;
    will-change: transform;
    height: calc(100vh - 90px);
}


.root-navbar-header {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
}

.navBar, .navBar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
}

.nav.root-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
}

.navBar {
    padding-top: 24px;
    padding-bottom: 5px;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 230px;
    cursor: default;
}

.navBar-Group {
    text-decoration: none;
}

.navBar-item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
}


.navBar-item--left-icon, .navBar-item--with-icon-right {
    position: relative;
}

.link-subtle {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    color: #257fed;
}

.navBar-link {
    border: 0;
    width: 100%;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
}

.link-subtle:focus, .link-subtle:hover {
    color: #fff;
}


a.link-subtle.navBar-link.active::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: #fff;
    left: 0;
    right: 0;
}

.navBar-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.navBar-link-text-with-icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.navBar-link__text {
    margin-left: 16px;
}

.navBar-item--left-icon .navbar-link__text {
    margin-left: 16px;
}

.home-active-icon, .navBar-item .home-icon, .navBar-item .search-active-icon, .navBar-item .search-icon {
    height: 24px;
    width: 24px;
}

.navBar-item.collection-active-icon, .navBar-item.home-active-icon, .navBar-item.navBar-link--active.collection-icon, .navBar-item.navBar-link--active.home-icon, .navBar-item.navBar-link--active.search-icon, .navBar-item.search-active-icon {
    display: none;
}

.navBar-item.navBar-link--active.collection-active-icon, .navBar-item.navBar-link--active.home-active-icon, .navBar-item.navBar-link--active.search-active-icon {
    display: block;
}

.active, .navBar-link--active, .navBar-link--active:focus, .navBar-link--active:hover {
    color: #fff;
}

.NavBar__icon {
    flex-shrink: 0;
    font-size: 15px;
}

.fa-compass {
    font-size: 20px;
}


/*----- Search Function ------*/
/*.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}*/

/*.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}*/



/****** Main-Content ******/
#main {
    width: 100%;
    padding: 0;
}

#root {
    min-height: 100vh;
    position: relative;
    z-index: 0;
    padding: 0;
}

.root-container {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.root-main-view {
    padding-left: 230px;
    padding-bottom: 91px;
    width: 100%;
    min-height: 100% !important;
}

.gradientBG {
    background-image: linear-gradient(135deg, rgb(37, 127, 237) 0%, rgb(0, 14, 33) 75%);
    height: auto;
 
}

.gradient-wrap {
    height: 100% !important;
}

.content-spacing {
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    opacity: 1;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    margin: 0 auto;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
}

.head-text {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color:white;
}

.display-3 {
    font-size: 3rem;
}

/*----- Home -----*/
.root-home {
    width: 100%;
    padding: 20px 0;
}

.banner-bloc {
    display: inline-flex;
    padding: 0;
}

.banner-img {
    object-fit: cover;
    max-height: 300px;
}

.banner-text {
    float: left;
    position: relative;
    color: white;
}

.heat-text {
    margin: 24px 0;
}

.mo-info {
    font-size: 12px;
    position: relative;
}

.discover {
    padding: 0;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.media-object {
    position: relative;
    padding-bottom: 2.5em;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.play-icon {
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

    .play-icon:hover {
        color: white;
    }

.media-object-hoverable {
    margin: 0;
    display: block;
    border: 0;
    outline: 0;
    position: relative;
}

    .media-object-hoverable:hover .overlay_image {
        opacity: .6;
    }

.overlay_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #000e21;
}

.media-object .media-object-hoverable.playing .icon, .media-object .media-object-hoverable:focus .icon, .media-object .media-object-hoverable:hover .icon {
    display: none
}

.media-object .media-object-hoverable.playing .cover-art-image, .media-object .media-object-hoverable.playing .daily-mix-decoration, .media-object .media-object-hoverable:focus .cover-art-image, .media-object .media-object-hoverable:focus .daily-mix-decoration, .media-object .media-object-hoverable:hover .cover-art-image, .media-object .media-object-hoverable:hover .daily-mix-decoration {
    -webkit-transition-property: -webkit-filter;
    transition-property: -webkit-filter;
    transition-property: filter;
    transition-property: filter,-webkit-filter;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.3,0,0,1);
    transition-timing-function: cubic-bezier(.3,0,0,1);
    -webkit-filter: brightness(.3);
    filter: brightness(.3)
}

.media-object .media-object-hoverable.playing .cover-art-playback, .media-object .media-object-hoverable:focus .cover-art-playback, .media-object .media-object-hoverable:hover .cover-art-playback {
    display: block
}

.bloc-logo {
    position: relative;
    width: 130px;
    height: 49px;
    float: left;
}

    .bloc-logo canvas,
    .bloc-logo .logo-mask {
        display: block;
        width: 130px;
        height: 49px;
    }

    .bloc-logo .logo-mask {
        position: absolute;
        top: 0;
        left: 0;
        background-size: 130px;
        background-image: url("../img/logo-mask.png");
        text-indent: -9999px;
    }

.grid-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/****** Tracklist View ******/

.tracklist-row {
   color:#fff;
}

    .tracklist-row:focus, .tracklist-row:hover {
        background-color: rgba(0,0,0,.3);
        color:white;

    }

a.tracklist:focus, a.tracklist:hover , a.track-time:focus, a.track-time:hover {
    text-decoration-color: #fff;
}


.trackList-header {
    margin: 0 auto 1.5em;
    text-align: center;
    max-width: 400px;
}

    .trackList-header .mo-info 
    {
        display: block;
        height: auto;
        margin-bottom: .3em;
        text-decoration: none;
    }

.mo-tracklist-info-album {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -.005em;
    color: #fff;
    text-transform: none;
}

.release-year{
    color: white;
    font-size: 14px;
}

.mo-tracklist-info-artist {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: .015em;
    color: #fff;
    text-transform: none;
    cursor: default;
}

.tracklist-play-pause {
    color: #fff;
    background-color: transparent;
    border:none;
}

.tracklist-name {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff;
 
}

.tracklist-row .tracklist-duration {
    color: #fff;
    opacity: .6;
}

/****** Music Player ******/
#slider {
    border-top: 1px solid black;
    min-height: 100vh;
}


.Root__now-playing-bar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1030 !important;
    color: #257fed;
}

.now-playing-bar-container {
    min-width: 620px;
    background-color: #fff;
    border-top: 3px solid #257fed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.now-playing-bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    padding: 0 16px;
}

.now-playing-bar__left {
    width: 30%;
    min-width: 180px;
}

.now-playing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.now-playing__widget-overlay {
    position: relative;
}

.track-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 14px;
}

.track-info__name {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    text-align: left;
    font-weight: 500;
}

.track-info__artists {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    text-align: left;
}

.now-playing__cover-art {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}

.now-playing-bar__center {
    width: 40%;
    max-width: 722px;
}

.player-controls, .player-controls__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
}

.player-controls {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.player-controls__buttons {
    margin-bottom: 12px;
    width: 130px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.control-button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #257fed;
    width: 32px;
    min-width: 32px;
    height: 32px;
    position: relative;
}

.control-button--disabled {
    color: #404040;
}

.play-button {
    font-size: 32px;
}


.middle-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.playback-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.music-cotnrol{
    background-image: linear-gradient(white);
}

.playback-bar .progress_bar{
    width: 0;
    background-color: #fff;
    animation: width 10s infinite;
}

@keyframes width 
{
    100%{width: 100%;}
}

#timeNow{
    text-align: right;
    line-height: 16px;
    font-size: 16px;
}

#playbackBar {
    width: 360px;
    height: 4px;
    display: flex;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 2px;
}

#progressBar {
    height: 4px;
    background-color: #257fed;
}

#movingBar {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #257fed;
}

.playback-bar__progress-time {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    min-width: 40px;
    text-align: center;
}

.progress_bar {
    height: 12px;
    position: relative;
    width: 100%
}

.progress_bar__bg {
    background-color: #e5e5e5;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4px;
    width: 100%
}

.progress_bar__fg_wrapper {
    overflow: hidden;
    width: 100%;
    height: 4px;
    border-radius: 2px
}

.progress_bar__fg {
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-timing-function: cubic-bezier(1,0,.7,1);
    transition-timing-function: cubic-bezier(1,0,.7,1);
    background-color: #257fed;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    will-change: transform,background-color
}

.progress_bar__fg, .progress_bar__slider {
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}

.progress_bar__slider {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(1,0,.7,1);
    transition-timing-function: cubic-bezier(1,0,.7,1);
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    -webkit-transform: scale(0);
    transform: scale(0)
}

.progress_bar--is-active .progress_bar__fg {
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(.3,0,0,1);
    transition-timing-function: cubic-bezier(.3,0,0,1);
    background-color: #1db954
}

.progress_bar--is-active .progress_bar__slider {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(.3,0,0,1);
    transition-timing-function: cubic-bezier(.3,0,0,1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.now-playing-bar__right {
    width: 30%;
    min-width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.now-playing-bar__right__inner {
    width: 180px;
}

.ExtraControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.volume-bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*----- Media Queries -----*/
@media (max-width: 575.98px) {

    .gradientBG {
        height: auto;
    }

    .navbar-brand {
        margin-right: auto;
        margin-bottom: 0 !important;
    }

    .root-navbar {
        overflow: hidden;
        background-color: #000e21;
        position: fixed;
        bottom: auto;
        width: 100%;
        height: auto;
        z-index: inherit;
        flex-direction: inherit;
        -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        transition: width 1s ease-in-out, left 1.5s ease-in-out;
    }

    .navBar-link__text {
        display: none;
    }

    navbar {
        padding-top: 24px;
        padding-bottom: 5px;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column-reverse;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        display: flex;
        padding-left:0;
    }

    .root-navbar-header {
        -ms-flex-direction: row;
        -ms-flex-pack: justify;
        text-align: center;
    }

    .navBar-Group {
        text-decoration: none;
    }

    #navLinks {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .NavBar__icon {
        font-size: 20px;
    }


    .root-main-view {
        padding-bottom: 90px;
        padding-top: 140px;
        padding-left:0 !important;
    }

    .banner-text {
        padding: 30px 0 20px 0px;
        text-align: center;
        position: relative;
        
    }

    .banner-img{
        text-align: center;
    }

    .display-3 {
        font-size: 2.5rem;
    }

    .head-text {
        text-align: center;
    }

    .mo-tracklist-info-album {
        font-size: 18px;

    }
    }

@media (max-width: 767.98px) {

    .root-main-view {
        padding-left: 140px;
    }
    .mo-info {
        font-size: 12px;
        position: relative;
    }

    .navbar-brand {
        margin-right: 0;
        margin-bottom: 0;
    }

    .banner-text {
        padding: 30px 0 20px 0px;
        text-align: center;
        position: relative;
    }


    .display-3 {
        font-size: 2.5rem;
    }

    .banner-img {
        float: none;
    }

    .gradient-wrap {
        padding: 20px;
        height: 100%;
    }

    .navBar-link__text {
        margin-left: 16px;
        display: none;
    }

    .navBar-Group {
        text-decoration: none;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navBar-link {
        padding: 50px;
    }

    .NavBar__icon {
        font-size: 24px;
    }

}

@media (max-width: 991.98px) {
    .display-3 {
        font-size: 3rem;
    }

    .navBar {
        width: 140px;
    }

    .root-main-view {
        padding-left: 140px;
    }

    .mo-tracklist-info-album {
        font-size: 20px;
    }

    .navbar-brand {
        margin-right: auto;
        margin-bottom: 20px;
    }
    }

@media (max-width: 1199.98px) {
    .display-3 {
        font-size: 4rem;
    }

}

@media screen and (min-width: 1900px) {
    .gradientBG {
        height: 100vh;
    }
}

