
<div class="Root__now-playing-bar">
    <footer class="now-playing-bar-container">
        <div class="now-playing-bar">
            <div class="now-playing-bar__left">
                <div class="now-playing">
                    <div class="" aria-label="" style="border: none;" onclick="toggle('slider')">
                        <div id="albumArt">
                            <img src="#"  id="poster" aria-hidden="true" style="width: 56px; height: 56px;">
                        </div>
                    </div>
                    <div class="track-info">
                        <div class="track-info__name" id="songName">
                            <h6>Song Name</h6>
                        </div>
                        <div class="track-info__artists" id="songArtist">
                            <h6>Song Artist</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="now-playing-bar__center">
                <audio preload="metadata" volume="0.5"></audio>
                <div class="player-controls">
                    <div class="player-controls__buttons">
                        @*<button class="control-button" id="random-btn" title="Enable shuffle"> <i class="fas fa-random"></i></button>*@
                        <button class="control-button" id="backward-btn" onclick="prev()" title="Previous"><i class="fas fa-step-backward"></i></button>
                        <button class="control-button" id="play-btn" onclick="playPause()" title="Play" aria-hidden="true"><i class="far fa-play-circle fa-2x" aria-hidden="true"></i></button>
                        <button class="control-button" id="forward-btn" onclick="next()" title="Next"><i class="fas fa-step-forward"></i></button>
                        @*<button class="control-button" id="repeat-btn" title="Enable repeat"><i class="fas fa-redo-alt"></i></button>*@
                    </div>
                    <div id="playbackTime">00:00 / 00:00</div>
                    <div id="playbackBar">
                        <div id="progressBar"></div>
                        <div id="movingBar"></div>
                    </div>
                </div>
            </div>
            <div class="now-playing-bar__right">
                <div class="volume-bar">
                    <button class="control-button" id="volume" onclick="toggleVolume()" aria-label="Mute"><i class="fas fa-volume-up" id="volumeIcon"></i></button>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
