<div class="Root__now-playing-bar">
    <footer class="now-playing-bar-container">
        <div class="now-playing-bar">
            <h3>Now Playing Placeholder</h3>
        </div>
    </footer>
</div>
