<div class="Root__now-playing-bar">
    <footer class="now-playing-bar-container">
        <div class="now-playing-bar">
            <div class="now-playing-bar_left">
                <div class="now-playing">
                    <span class="now-playing_widget-overlay" draggable="true">
                        <a aria-label="" href="" style="border:none;">
                            <div class="now-playing_cover-art">
                                <div class="now-playing_cover-art shadow" aria-hidden="true" style="width: 56px; height: 56px;"></div>
                            </div>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
