
<nav class="root-navbar">
    <div class="navBar">

        <div class="root-navbar-header">
            <div class="navbar-brand">
                <span class="logo">Infinity<span style="color:#fff;">Play</span></span>
            </div>
            @*@Html.ActionLink("InfinityPlay", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <ul id="navLinks">
            <li class="p-4 pl-5  link-subtle d-inline-flex" data-page-type="Index" aria-label="Home">
                <i class="far fa-compass"></i>
                <span class="ml-3 d-none d-lg-inline-block">Home</span>
            </li>
            <li class="p-4 pl-5 Artists link-subtle d-inline-block" data-page-type="Artists"  aria-label="Artists">
                <i class="fas fa-user-friends "></i>
                <span class="ml-3 d-none d-lg-inline-block">Artists</span>
            </li>
            <li class="p-4 pl-5 Albums link-subtle d-inline-block" data-page-type="Albums" aria-label="Albums">
                <i class="fas fa-music"></i>
                <span class="ml-3 d-none d-lg-inline-block">Albums</span>
            </li>
            <li class="p-4 pl-5 Artists link-subtle d-inline-block" data-page-type="Search" aria-label="Search">
                <i class="fas fa-search"></i>
                <span class="ml-3 d-none d-lg-inline-block">Search</span>
            </li>
            @*<li class="navBar-Group"><div class="navBar-item navBar-item-left-icon">@Html.ActionLink("About", "About", "Home")</div></li>
                <li class="navBar-Group"><div class="navBar-item navBar-item-left-icon">@Html.ActionLink("Contact", "Contact", "Home")</div></li>*@
        </ul>
    </div>
</nav>
